<h2>Vragen</h2>
<div class="panel-body">
  <table class="table table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Id</th>
        <th>MMSE nummer</th>
        <th>Vraag</th>
        <th>Antwoord</th>
        <th>Score</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{question.id}}</td>
        <td>{{question.mmseid}}</td>
        <td>{{question.description}}</td>
        <td *ngIf="mmsttest.answers[question.id] != undefined">{{mmsttest.answers[question.id].value}}</td>
        <td *ngIf="mmsttest.answers[question.id] != undefined">{{mmsttest.answers[question.id].score}}</td>
        <td *ngIf="mmsttest.answers[question.id] == undefined"></td>
        <td *ngIf="mmsttest.answers[question.id] == undefined"></td>
        <td>
          <a class="btn btn-default" (click)="answer(question.id)">Beantwoord vraag</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>